<a href="https://colab.research.google.com/github/oscarfedu7/ER-AFND-AFD-ER/blob/main/Copia_de_RE_AFND.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
P=input()
palabra=input()

(a.b)*
ababab

# ER-AFND

### aa

In [2]:
abc=["e","a","b"]

cont=0;
tam=len(P);
k=0
import numpy as np
sigma=["(",")","|","*","."," "]

### Aplanar una **lista**

In [3]:
def aplanar(_2d_list):
    flat_list = []
    # Iterate through the outer list
    for element in _2d_list:
        if type(element) is list:
            # If the element is of type list, iterate through the sublist
            for item in element:
                flat_list.append(item)
        else:
            flat_list.append(element)
    return flat_list

## Método E

In [4]:
def E(P):
  global k
  global cont
  A1 = T(P);
  if(cont >= tam):
    return A1
  if(P[cont] == "|"):
    
    A2 = E(P);
    cont+=1
    A1 = OR(A1,A2);

  return A1

## Método T

In [5]:
def T(P):
  global k
  global cont
  A1 = G(P)
  if(cont >= tam):
    return A1
  if(P[cont] == "."):   
    A2 = T(P)
    cont+=1
    A1 = Concat(A1,A2)

  return A1

## Método G

In [6]:
def G(P):
  global k
  global cont
  A1 = F(P)
  if(cont >= tam):
    return A1
  if(P[cont] == "*"):
    cont+=1
    A1 = Estrella(A1) 
  return A1

## Método F

In [7]:
def F(P):
  global k
  global cont
  if(P[cont] in abc):
    A = creaAutomata(P[cont])
    cont+=1
    return A 
  elif(P[cont] in sigma):
    cont+=1
    A = E(P)
  return A;

## Automata

In [8]:
class Automata:
  def __init__(self):
    self.K=[]
    self.abc=[]
    self.s=0
    self.F=[]
    self.d=[]

## Crea Automata

In [9]:
def creaAutomata(letra):
  global k
  autom = Automata()
  autom.K.append(k)
  autom.K.append(k+1)
  autom.s=k
  autom.F.append(k+1)
  a=[k,letra,k+1]
  autom.d.append(a)
  k+=2
  return autom

## Método OR

In [10]:
def OR(A1,A2):
  global k
  A = Automata()
  d1=[k,"e",A1.s]
  d2=[k,"e",A2.s]
  d3=[A1.F[0],"e",k+1]
  d4=[A2.F[0],"e",k+1]
  A.d.append(d1)
  A.d.append(d2)
  A.d.extend(A1.d)
  A.d.extend(A2.d)
  A.d.append(d3)
  A.d.append(d4)

  A.K.append(k)
  A.K.append(k+1)
  A.K.append(A1.K)
  A.K.append(A2.K)
  A.K=aplanar(A.K)

  A.F.append(k+1)
  A.s = k
  k+=2
  
  return A

## Método Concat

In [11]:
def Concat(A1,A2):
  global k
  A = Automata()

  A.d.extend(A1.d)
  A.d.extend(A2.d)
  d1=[A1.F[0],"e",A2.s]
  A.d.append(d1)


  A.K.append(A1.K)
  A.K.append(A2.K)
  A.K=aplanar(A.K)

  A.F.append(A2.F)
  A.F=aplanar(A.F)

  A.s = A1.s
  return A

## Estrella

In [12]:
def Estrella(A1):
  global k
  A = Automata()

  A.d.extend(A1.d)
  d1=[k,"e",A1.s]
  d2=[A1.F[0],"e",k+1]
  d3=[k,"e",k+1]
  d4=[A1.F[0],"e",A1.s]
  A.d.append(d1)
  A.d.append(d2)
  A.d.append(d3)
  A.d.append(d4)

  A.K.append(k)
  A.K.append(A1.K)
  A.K.append(k+1)
  A.K=aplanar(A.K)

  A.F.append(k+1)
  A.s = k
  k+=2
  return A

In [13]:
prueba=E(P)
prueba.K.sort()
print("El autonoma de la expresion regular "+P+" está definido por: ")
print("Alfabeto: ")
print(abc)
print("Delta:")
print(prueba.d)
print("Estados: ")
print(prueba.K)
print("Estado Inicial: ")
print(prueba.s)
print("Estados finales: ")
print(prueba.F)

El autonoma de la expresion regular (a.b)* está definido por:
Alfabeto:
['e', 'a', 'b']
Delta:
[[0, 'a', 1], [2, 'b', 3], [1, 'e', 2], [4, 'e', 0], [3, 'e', 5], [4, 'e', 5], [3, 'e', 0]]
Estados:
[0, 1, 2, 3, 4, 5]
Estado Inicial:
4
Estados finales:
[5]

## Hacer tabla de transiciones

## Tabla de transiciones con arrays numpy

In [14]:
import pandas as pd
import numpy as np
tablaTND = pd.DataFrame()
tablaTND['Q']= None
for x in abc:
  tablaTND[x] = []

tablaTND.set_index("Q",inplace = True)
tablaTND["Q"]=prueba.K

a=[]
for i in range(len(prueba.K)):
  a.append(np.array([])) 
for x in abc:
  tablaTND[x] = a


for estado in prueba.K:
  for trans in prueba.d:
   if(estado == trans[0]):
    tablaTND[trans[1]][estado]=np.append(tablaTND[trans[1]][estado],trans[2])
  

tablaTND

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            e      a      b  Q
Q
0          []  [1.0]     []  0
1       [2.0]     []     []  1
2          []     []  [3.0]  2
3  [5.0, 0.0]     []     []  3
4  [0.0, 5.0]     []     []  4
5          []     []     []  5

## Tabla de transiciones con pandas

In [15]:
import pandas as pd

tablaTND = pd.DataFrame()
tablaTND['Q']= None
for x in abc:
  tablaTND[x] = []

tablaTND.set_index("Q",inplace = True)
tablaTND["Q"]=prueba.K

a=[]
for i in range(len(prueba.K)):
  a.append([]) 
for x in abc:
  tablaTND[x] = a


for estado in prueba.K:
  for trans in prueba.d:
   if(estado == trans[0]):
    c=[]
    c.append(trans[2])
    b=tablaTND[trans[1]][estado]+c
    tablaTND[trans[1]][estado]=b
  

tablaTND

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

        e    a    b  Q
Q
0      []  [1]   []  0
1     [2]   []   []  1
2      []   []  [3]  2
3  [5, 0]   []   []  3
4  [0, 5]   []   []  4
5      []   []   []  5

# AFND-AFD

## Clase clausura

In [16]:
class Clausura:
  def __init__(self):
    self.clausura1=[]
    self.clausura2=[]

  def isEmpty(self):
    return (len(self.clausura1)==0 and len(self.clausura2)==0)
  
  def __str__(self):
    return str(self.clausura1) + "," + str(self.clausura2)

## Crear clausulas respecto a epsilon

In [17]:
cEps = []
clausura = Clausura()
for x in prueba.K:
 # cEps.append([]
 cEps.append(Clausura())


pila=[]
for x in prueba.K:
  cEps[x].clausura1.append(x)#quizá no es necesario
  pila.append(tablaTND["e"][x])
  pila=aplanar(pila)
  while pila:
    a=pila.pop()
    if not(a in cEps[x].clausura2):  #quizá se quita
      cEps[x].clausura2.append(a)
      pila.append(tablaTND["e"][a])
    pila=aplanar(pila)


for i in range(len(cEps)):
  print(str(cEps[i]))

[0],[]
[1],[2]
[2],[]
[3],[0, 5]
[4],[5, 0]
[5],[]

## Conversión AFND A AFD

In [18]:
def E2(epsilon):
  global j
  global tablaTND
  global tablaTD
  global i #creo
  #Checar lo de e
  i_pasados=[] ##nuevo
  i_pasados.append(prueba.s)
  pila2=[]
  pila2+=epsilon
  pila2=aplanar(pila2)
  
  while pila2:
    i=pila2.pop()
    if not(i in i_pasados): #nuevo
      i_pasados.append(i) ##nuevo
      #Checar a
      if tablaTND["a"][i]:
        tablaTD["a"][j].clausura1 += tablaTND["a"][i]
      #Checar b
      if tablaTND["b"][i]:
        tablaTD["b"][j].clausura1 += tablaTND["b"][i]
      pila2.append(tablaTND["e"][i])
      pila2=aplanar(pila2)
  for x in tablaTD["a"][j].clausura1:
    tablaTD["a"][j].clausura2 += cEps[x].clausura2  
  for x in tablaTD["b"][j].clausura1:
    tablaTD["b"][j].clausura2 += cEps[x].clausura2

In [19]:
import pandas as pd

#Se crea
tablaTD = pd.DataFrame()
tablaTD['Estados']= []
tablaTD["a"] = []
tablaTD["b"] = []

#tablaTD.set_index("",inplace = True)
#Se inicializa
tablaTD.loc[0]=[cEps[prueba.s],Clausura(),Clausura()]



i=prueba.s #indice de tablaTND
j=0 #indice de tablaTD

#Checar a y b
if tablaTND["a"][i]:
  tablaTD["a"][j].clausura1 += tablaTND["a"][i]
if tablaTND["b"][i]:
  tablaTD["b"][j].clausura1 += tablaTND["b"][i]
E2(tablaTND["e"][i])



pila = []
pila.append(tablaTD["a"][j])
pila.append(tablaTD["b"][j])
pila=aplanar(pila)
while pila:
  q=pila.pop()
  if(not(q.isEmpty())):
    j+=1
    tablaTD.loc[j]=[q,Clausura(),Clausura()]

    for x in q.clausura1:
      i=x
      #Checar a y b
      if tablaTND["a"][i]:
        tablaTD["a"][j].clausura1 += tablaTND["a"][i]
      if tablaTND["b"][i]:
        tablaTD["b"][j].clausura1 += tablaTND["b"][i]
      E2(tablaTND["e"][i])

    #Debemos checar que no tome repetidos o se va a ciclar, ni vacios

    bol=True
    for x in range(len(tablaTD["Estados"])):
      if tablaTD["a"][j].clausura1 == tablaTD["Estados"][x].clausura1 and tablaTD["a"][j].clausura2 == tablaTD["Estados"][x].clausura2:
        bol=False
    if bol:
      pila.append(tablaTD["a"][j])

    bol=True
    for x in range(len(tablaTD["Estados"])):
      if tablaTD["b"][j].clausura1 == tablaTD["Estados"][x].clausura1 and tablaTD["b"][j].clausura2 == tablaTD["Estados"][x].clausura2:
        bol=False
    if bol:
      pila.append(tablaTD["b"][j])
    pila=aplanar(pila)

    #######################################33
  else:
    j+=1
    tablaTD.loc[j]=[q,q,q]

tablaTD

      Estados        a           b
0  [4],[5, 0]  [1],[2]       [],[]
1       [],[]    [],[]       [],[]
2     [1],[2]    [],[]  [3],[0, 5]
3  [3],[0, 5]  [1],[2]       [],[]

In [20]:
#tablaTD.drop_duplicates(inplace = True)

## Eliminar repetidos

In [21]:
lista = []
i=0
for x in tablaTD["Estados"]:
  li=str(x.clausura1)+str(x.clausura2)
  if not li in lista:
    lista.append(li)
  else:
    tablaTD = tablaTD.drop(i,axis=0)
  i+=1


tablaTD

      Estados        a           b
0  [4],[5, 0]  [1],[2]       [],[]
1       [],[]    [],[]       [],[]
2     [1],[2]    [],[]  [3],[0, 5]
3  [3],[0, 5]  [1],[2]       [],[]

## Guardar los estados en una lista

In [22]:
estados=[]
for x in tablaTD.index:
  if not tablaTD["Estados"][x].isEmpty():
    estados.append(tablaTD["Estados"][x])

DEBO ELIMINAR DONDE A Y B ESTÁN VACÍOS

In [23]:
for x in tablaTD.index:
  if tablaTD["Estados"][x].isEmpty() :
    tablaTD = tablaTD.drop(x,axis=0)
tablaTD

      Estados        a           b
0  [4],[5, 0]  [1],[2]       [],[]
2     [1],[2]    [],[]  [3],[0, 5]
3  [3],[0, 5]  [1],[2]       [],[]

Convertir de nuevos los indices

In [24]:
tablaTD = tablaTD.reset_index(drop=True)

## Crear el diccionario para hacer el cambio de estados

In [25]:
dictionary = {}
m=0
for x in estados:
  dictionary[str(x.clausura1)+str(x.clausura2)] = m
  m+=1
dictionary["[][]"]="sumidero"

dictionary

{'[1][2]': 1, '[3][0, 5]': 2, '[4][5, 0]': 0, '[][]': 'sumidero'}

In [26]:
tablaTD_copia=tablaTD.copy()
automataDeterminista=Automata()
tablaTD_copia

      Estados        a           b
0  [4],[5, 0]  [1],[2]       [],[]
1     [1],[2]    [],[]  [3],[0, 5]
2  [3],[0, 5]  [1],[2]       [],[]

## Cambiar tabla del automata determinista a nuevos estados

In [27]:
for x in tablaTD:
  for i in tablaTD.index: #Aquí lo estaba usando con el tamaño de elementos de tablaTD
    tablaTD[x][i] = dictionary[str(tablaTD[x][i].clausura1)+str(tablaTD[x][i].clausura2)]
tablaTD

  Estados         a         b
0       0         1  sumidero
1       1  sumidero         2
2       2         1  sumidero

## Obtener el estado final e inicial del AFD

In [28]:
for x in estados:
  if (prueba.F[0] in x.clausura1) or (prueba.F[0] in x.clausura2):
      automataDeterminista.F.append(dictionary[str(x.clausura1)+str(x.clausura2)])
automataDeterminista.s=0
automataDeterminista.F

[0, 2]

## Obtener las transiciones del AFD

In [29]:
pasosAFD=[]
for x in tablaTD.index:
  p1=[x,"a",tablaTD["a"][x]]
  pasosAFD.append(p1)
  p2=[x,"b",tablaTD["b"][x]]
  pasosAFD.append(p2)

automataDeterminista.d=pasosAFD
pasosAFD

[[0, 'a', 1],
 [0, 'b', 'sumidero'],
 [1, 'a', 'sumidero'],
 [1, 'b', 2],
 [2, 'a', 1],
 [2, 'b', 'sumidero']]

In [30]:
estadosNuevos=[]
for x in estados:
  estadosNuevos.append(dictionary[str(x.clausura1)+str(x.clausura2)])
for x in estadosNuevos:
  automataDeterminista.K.append(x)

In [31]:
print("El autonoma finito determinista de la expresion regular "+P+" está definido por: ")
print("Alfabeto: ")
print(abc)
print("Delta:")
print(automataDeterminista.d)
print("Estados: ")
print(automataDeterminista.K)
print("Estado Inicial: ")
print(automataDeterminista.s)
print("Estados finales: ")
print(automataDeterminista.F)

El autonoma finito determinista de la expresion regular (a.b)* está definido por:
Alfabeto:
['e', 'a', 'b']
Delta:
[[0, 'a', 1], [0, 'b', 'sumidero'], [1, 'a', 'sumidero'], [1, 'b', 2], [2, 'a', 1], [2, 'b', 'sumidero']]
Estados:
[0, 1, 2]
Estado Inicial:
0
Estados finales:
[0, 2]

# AFD a ER

In [32]:
def R(i,j,k):
  if k==0:
    if i != j:
      if tablaTD["a"][i] == j:
        return "a"
      elif tablaTD["b"][i] == j:
        return "b"
      else:
        return "0"
    else:
      if tablaTD["a"][i] == j:
        return "a|e"
      elif tablaTD["b"][i] == j:
        return "b|e"
      else:
        return "0"
  else: 
    s1=R(i,j,k-1)
    s2=R(i,k-1,k-1)
    s3=R(k-1,k-1,k-1)
    s4=R(k-1,j,k-1)
    """
    sf=""
    if(s1!="0"):
      sf += "("+s1+")"+"|"
    if(s2!="0"):
      sf += "("+s2+")"+"."
    if(s3!="0"):
      sf += "("+s3+")"+"*"
    if(s4!="0"):
      sf += "("+s4+")"
    #return sf
    """
    return "("+str(R(i,j,k-1))+")"+"|"+"("+str(R(i,k-1,k-1))+")"+"."+"("+str(R(k-1,k-1,k-1))+")"+"*"+".("+str(R(k-1,j,k-1))+")"


ER=""
tam=len(automataDeterminista.F)
for x in automataDeterminista.F:
  if(x!=automataDeterminista.F[tam-1]):
    ER += R(automataDeterminista.s,x,len(automataDeterminista.K))+"|"
  else:
    ER += R(automataDeterminista.s,x,len(automataDeterminista.K))

ER

'(((0)|(0).(0)*.(0))|((a)|(0).(0)*.(a)).((0)|(0).(0)*.(a))*.((0)|(0).(0)*.(0)))|(((0)|(0).(0)*.(0))|((a)|(0).(0)*.(a)).((0)|(0).(0)*.(a))*.((b)|(0).(0)*.(0))).(((0)|(0).(0)*.(0))|((a)|(0).(0)*.(a)).((0)|(0).(0)*.(a))*.((b)|(0).(0)*.(0)))*.(((0)|(0).(0)*.(0))|((a)|(0).(0)*.(a)).((0)|(0).(0)*.(a))*.((0)|(0).(0)*.(0)))|(((0)|(0).(0)*.(0))|((a)|(0).(0)*.(a)).((0)|(0).(0)*.(a))*.((b)|(0).(0)*.(0)))|(((0)|(0).(0)*.(0))|((a)|(0).(0)*.(a)).((0)|(0).(0)*.(a))*.((b)|(0).(0)*.(0))).(((0)|(0).(0)*.(0))|((a)|(0).(0)*.(a)).((0)|(0).(0)*.(a))*.((b)|(0).(0)*.(0)))*.(((0)|(0).(0)*.(0))|((a)|(0).(0)*.(a)).((0)|(0).(0)*.(a))*.((b)|(0).(0)*.(0)))'

# ¿La palabra pertenece a la ER?

In [33]:
def esPalabra(palabra):
  inicial = automataDeterminista.s
  estado=inicial
  for letra in palabra:
    if(tablaTD[letra][estado] == "sumidero"):
      return "No es palabra"
    estado=tablaTD[letra][estado]

  if estado in automataDeterminista.F:
    return "Sí es palabra"
  else:
    return "No es palabra"

In [34]:
esPalabra("ab")

'Sí es palabra'

# Resultados:

In [35]:
print("El autonoma d¿finito NO determinista de la expresion regular "+P+" está definido por: ")
print("Alfabeto: ")
print(abc)
print("Delta:")
print(prueba.d)
print("Estados: ")
print(prueba.K)
print("Estado Inicial: ")
print(prueba.s)
print("Estados finales: ")
print(prueba.F)

El autonoma d¿finito NO determinista de la expresion regular (a.b)* está definido por:
Alfabeto:
['e', 'a', 'b']
Delta:
[[0, 'a', 1], [2, 'b', 3], [1, 'e', 2], [4, 'e', 0], [3, 'e', 5], [4, 'e', 5], [3, 'e', 0]]
Estados:
[0, 1, 2, 3, 4, 5]
Estado Inicial:
4
Estados finales:
[5]

In [36]:
print("El autonoma finito determinista: ")
print("Alfabeto: ")
print(abc)
print("Delta:")
print(automataDeterminista.d)
print("Estados: ")
print(automataDeterminista.K)
print("Estado Inicial: ")
print(automataDeterminista.s)
print("Estados finales: ")
print(automataDeterminista.F)

El autonoma finito determinista:
Alfabeto:
['e', 'a', 'b']
Delta:
[[0, 'a', 1], [0, 'b', 'sumidero'], [1, 'a', 'sumidero'], [1, 'b', 2], [2, 'a', 1], [2, 'b', 'sumidero']]
Estados:
[0, 1, 2]
Estado Inicial:
0
Estados finales:
[0, 2]

In [37]:
print("La expresión regular es:")
print(ER)

La expresión regular es:
(((0)|(0).(0)*.(0))|((a)|(0).(0)*.(a)).((0)|(0).(0)*.(a))*.((0)|(0).(0)*.(0)))|(((0)|(0).(0)*.(0))|((a)|(0).(0)*.(a)).((0)|(0).(0)*.(a))*.((b)|(0).(0)*.(0))).(((0)|(0).(0)*.(0))|((a)|(0).(0)*.(a)).((0)|(0).(0)*.(a))*.((b)|(0).(0)*.(0)))*.(((0)|(0).(0)*.(0))|((a)|(0).(0)*.(a)).((0)|(0).(0)*.(a))*.((0)|(0).(0)*.(0)))|(((0)|(0).(0)*.(0))|((a)|(0).(0)*.(a)).((0)|(0).(0)*.(a))*.((b)|(0).(0)*.(0)))|(((0)|(0).(0)*.(0))|((a)|(0).(0)*.(a)).((0)|(0).(0)*.(a))*.((b)|(0).(0)*.(0))).(((0)|(0).(0)*.(0))|((a)|(0).(0)*.(a)).((0)|(0).(0)*.(a))*.((b)|(0).(0)*.(0)))*.(((0)|(0).(0)*.(0))|((a)|(0).(0)*.(a)).((0)|(0).(0)*.(a))*.((b)|(0).(0)*.(0)))

In [38]:
esPalabra(palabra)

'Sí es palabra'